<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Restaurant Reservation</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
    <header>
        <h1>Карта нашого ресторану</h1>
        <div class="meal-promo">
            <p th:text="${specialMeal}">Завантаження страви дня...</p>
        </div>
    </header>

    <div id="restaurant-map">
        <div th:each="table : ${tables}" 
             class="table-item" 
             th:classappend="${table.zone.toString().toLowerCase()}"
             th:style="'left: ' + ${table.posX} + 'px; top: ' + ${table.posY} + 'px;'"
             th:title="'Місць: ' + ${table.capacity} + ' | Зона: ' + ${table.zone}">
            
            <span th:text="${table.capacity}"></span>
        </div>
    </div>

    <div class="legend">
        <span class="hall">Головний зал</span>
        <span class="private">Приватні кімнати</span>
        <span class="terrace">Тераса</span>
    </div>
    <div id="bookingModal" style="display:none; position:fixed; top:30%; left:40%; background:white; padding:20px; border:2px solid black; z-index:100;">
        <h3>Бронювання стола №<span id="modalTableId"></span></h3>
        <input type="text" id="customerName" placeholder="Ваше ім'я">
        <button onclick="submitBooking()">Підтвердити</button>
        <button onclick="document.getElementById('bookingModal').style.display='none'">Скасувати</button>
    </div>
</body>
</html>